.Xauthority
.Xauthority.9TM50W
.bash_history
.bash_profile
.bashrc
.cache/
.config/
.dbus/
.dmrc
.gem/
.gitconfig
.gnome2/
.gnupg/
.gstreamer-0.10/
.inputrc
.irb-history
.irbrc
.kde/
.lesshst
.local/
.macromedia/
.mozilla/
.mysql_history
.recently-used
.rvm/
.sh_history
.ssh/
.swp
.thumbnails/
.tmux-conf
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-seamless.pid
.vim/
.viminfo
.vimrc
.xsession-errors
.xsession-errors.old
Desktop/
Downloads/
src/
tickit/
tmp/
.gemrc
.gforth-history
.gitk
.gtk-bookmarks
.guard_history
.my.cnf
.psi/
.rdebug_hist
.screenrc
.sqlite_history
.tmux.conf
Documents/
